/**
 * astute splashpage
 */

/**
 * Color pallete
 *   - light blue: #3498DB;
 *   - blue: #2980B9;
 *   - dark-blue: #34495E;
 */

// via http://meyerweb.com/eric/tools/css/reset/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
* {
  margin:0;
}

html, body{
  height: 100%;
  font-family: Avenir;
}

.white { color: #FFF }
.light-blue { color: #3498DB; }
.blue       { color: #2980B9; }
.dark-blue  { color: #34495E; }

.bg-light-blue { background-color: #3498DB; }
.bg-blue       { background-color: #2980B9; }
.bg-dark-blue  { background-color: #34495E; }
.bg-blue-translucent { background-color: rgba(41,128,185, 0.5) }

.col4 { float: left; width: 33.33333333% }
.col8 { float: left; width: 66.66666666%; }
.col6 { float: left; width: 50%; }

.left  { float: left; }
.right { float: right; }

.border-right-blue { border-right: 1px solid #34495E; }

.full-height { height: 100%; }
.full-width { width: 100%; }

#screenshot { width: 70%; }

.medium { font-size: 1.2em; }
.large { font-size: 4em; }

.center-text { text-align: center; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.badge { height: 40px; }

.pad2 { padding: 20px; }

.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
.mb5 { margin-bottom: 50px; }
.mb6 { margin-bottom: 60px; }

.pad1 { padding: 10px; }

.pt5 { padding-top: 50px; }

.clearfix { display: block; }
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#screenshot {
  display: inline block;
  vertical-align: middle;
}

video{
  height: 100%;
  position: absolute;
  display: block;
  z-index: -100;
}
